@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700');
@import url('font-awesome.min.css');

body{
	font-family: Roboto,sans-serif;
    background-color: #f5f5f5;
}

.sub-header{
	padding: 20px;
	width: 100%;
	display: inline-block;
	overflow-x: auto;
    white-space: nowrap;
    padding-left: 10px;
    min-height: 40px;
    text-align: center;
    background: #2a3249;
}

.sub-header > a {
	color: grey;
	padding: 0 10px;	
	text-decoration: none;
}


.sub-header > a.linked {
	color: white;
	padding: 0 10px;	
	text-decoration: none;
}

#div1{
	margin: 25px auto;
    width: 85%;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
    
    padding-left: 20px;
    padding-bottom: 15px;
    float: left;
    display: flex;
}

.calculator-form{
	width: 60%;
}


#boxes{
	width: 40%;
}

.mui-textfield label, .box-title{
	font-weight: bold;
}

.formatted-input-container .mui-textfield{
	display: table-caption;
}

.formatted-input-container{
    display: inline;
    width: 50%;
    text-align: center;
}

.or{
	width: 5%;
	display: inline;
}

.hidden{
	display: none;
}